$font-family-b: "BeaulieuW01", sans-serif;
$font-family-m: "Muller", sans-serif;
$font-family-r: "BeaulieuW01-Regular", sans-serif;
$primary-title-color: #e6d5d3;
$secondary-title-color: #a37e74;
$dark-pink: #632928;
$soft-pink: #efd0c5;
$soft-dark-pink: #804445;
$creamy-color: #d99d89;
$text-creamy: #e1a38f;
$darkBackground: #6f3638;

.centeredFlexBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
